.header {
   height: 5rem;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3,1fr);
  padding: 0 3rem;
  max-width: 1600px;
  margin: 0 auto;
  width: 100%;
  }
  .header a {
    position: relative;
    text-decoration: none;
    color: var(--color-foreground);
  }
  .header a sup {
    position: absolute;
    left: 100%;
    overflow: hidden;
    max-width: var(--page-margin);
  }
  .header svg {
    width: 2rem;
  }
  .header .header__menu
   {
    display: flex;
    gap: 1rem;justify-content: center;
  }
  .header .header__icons{
    display: flex;
    gap: 1rem;justify-content: end;
  }
  .header--menu-logo-icons .header_logo {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.header--menu-logo-icons .header__menu {
  justify-content: flex-start;
}
